body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif Roboto, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 0px 50px 0px 50px;
  background-color:rgb(175, 231, 245);
  min-height: 10vh;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uta{
  text-align: center;
}

#imguta{
  width:8vh;
  height: auto;
  grid-column: 1/2;
}

.titulo{
  text-align: center;
}

.sesion{
  text-align: center;
}
